.profile-box {
  align-items: center;
  border-bottom: 2px solid #e45700;
  display: flex;
  padding-bottom: 10px;
}

.profile-icon {
  margin-right: 20px;
  width: 50px;
}

.profile-wrapper {
  margin: 0 auto;
  max-width: 80%;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.logout {
  background-color: #e45700;
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 100px;
  padding: 5px 0;
  transition: 0.3s;
  width: 100px;
}

.logout:hover {
  background-color: #c44e00;
}
