.details-wrapper {
  margin: 100px auto 0;
  max-width: 85%;
}

.recipeDetails {
  text-align: center;
}

.details-img {
  border-radius: 30px;
  width: 200px;
}

.instructions-title {
  margin-top: 30px;
}

.buttons {
  align-items: center;
  display: flex;
  margin: 30px 0;
}

.slider-container {
  background: #f1f1f1;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 30px;
  overflow: scroll;
}

.slider-item {
  align-items: center;
  display: flex;
  height: 20rem;
  justify-content: center;
  min-width: 50%;
  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  visibility: hidden;
  width: 100%;
}

.start-recipe {
  background-color: #e45700;
  border: none;
  border-radius: 6px;
  bottom: 0;
  height: 30px;
  margin: 5px auto;
  opacity: 0.9;
  position: fixed;
  text-align: center;
  width: 100%;
}

.start-recipe:hover {
  opacity: 1;
}


.iframe-container {
  margin: 0 auto;
  width: fit-content;
}

.iframe-container iframe {
  border-radius: 30px;
  height: 340px;
  width: 600px;
}

.share-btn {
  position: relative;
}

.share-text {
  left: -8px;
  position: absolute;
  top: -10px;
  width: 100px;
}
